body{
    background-color: rgb(5, 25, 126);
}
.p{
    color: rgb(242, 246, 247);
}
nav h1{
    color: yellow;
}
nav p{
    color: rgb(240, 240, 241);
}
div p,li{
    color: rgb(244, 245, 251);
}
.title{
    color: rgb(239, 243, 14);
    text-align: center;
}
.container{
        width: 400px;
        height: auto;
        margin: 50px auto;
        overflow: hidden;
       
}
/* .mario{
    width: 200px;
    margin: 0 auto;
    display: block;
    animation: mario 3s infinite;
    position: relative;
    left: 25px;
} 
@keyframes mario {
    0%{
        transform: translateY(-50px);
    }
    30%{
        transform: translateY(0) rotate(5deg);
    }
    50%{
        transform:  rotate(5deg);
    }
    75%{
        transform:  rotate(5deg);
    }
    100%{
        transform: translateY(-50px); 
    }
    
} */
.btn{
    color: aliceblue;
    size: 20px;
    background-color: rgb(12, 54, 192);
    font-size: 50px;
}
h1{
    background-color: rgba(8, 10, 159, 0.457);
}
.amar{
    color: yellow;

}
.loge{
  
    position: relative;
    left: 150px;
}